body{
	margin: 0;
	font-family: 'Actor', sans-serif;
}
ul{
	list-style: none;
}
header{
	background-color: #63A7FA;
	padding: 0 20px 0 5px;
	min-width: 760px;
}
header div{
	display: inline-block;
}
.logo{
	width: 20%;
	text-align: center;
}
.logo a img{
	height: 30px;
	vertical-align: middle;
}
.srbar{
	width: 50%;
}
.cpanel li{
	display: inline-block;
	padding: 0 7px 0 7px;
}
.cpanel {
	width: 25%;
	text-align: right;
}
.main{
	width: 80%;
	margin: 0 auto 0 auto;
}
.signup{
	background-color: #C8C9C0;
	border: 1px solid #4D4F44;
	padding: 2px 4px 2px 4px;
}
.signup:hover{
	background-color: #393A32;
	color: white;
	cursor: pointer;
}
.signup:active{
	outline: 2px solid black;
}
.login{
	color: white;
	padding: 2px 4px 2px 4px;	
}
.login:hover{
	cursor: pointer;
	color: #0C1014;
}
.srbar .search{
	width: 80%;
	padding: 5px 6px 5px 6px;
	border-radius: 5px;
}
.srbar .srcbutton{
	margin-left: 10px;
	background-color: #F3F3F1;
	border: 1px solid #4D4F44;
	border-radius: 2px;
	padding: 4px 6px 4px 6px;
	height: 25px;
}
.srbar .srcbutton:hover{
	background-color: #CCCDC5;
	color: white;
	cursor: pointer;
}
.srbar .srcbutton:active{
	box-shadow: inset 0 0 5px black;
}